<div class="about-us">
  <h1>About US</h1>
  <h3>the story of our restaurant</h3>
  <p>
    "Welcome to Ristorante Il Gambero Rosso, where we invite you to embark on a
    culinary journey to Italy. Nestled in the heart of the city, our restaurant
    is renowned for its authentic Italian cuisine and warm, inviting ambiance.
    From our handmade pastas to wood-fired pizzas, each dish is crafted with the
    finest ingredients and traditional recipes passed down through generations.
    Immerse yourself in the flavors of Italy as our skilled chefs bring the
    essence of Italian gastronomy to your table. Join us and experience the true
    taste of Italy, where every bite tells a story of passion, heritage, and the
    love for exquisite food."
  </p>
  <img src="/assets/hero.jpeg" alt="" />
</div>
