<div>
    <div class="hero">
        <img src="../assets/hero.jpeg" alt="Hero Image" class="hero-image" />
        <div class="overlay">
            <h1 class="hero-text">
                Looking forward to welcoming you to our restaurant
            </h1>
            <div class="button-container">
                <button class="btn hero-button" [routerLink]="['/menu']" style="text-decoration: underline">
          Our Menu
        </button>

                <a href="https://www.opentable.com/?lang=en-us&ref=15181&SP=ppc_g_us_nontm&cmid=18785199533&aid=148725873731&tid=dsa-1656784872226&locp=9062719&loci=&mt=&nw=g&d=c&cid=632096309015&pos=&gclid=CjwKCAjwhdWkBhBZEiwA1ibLmMv_m8ex7lA4Dfqf5AR7WtJW_zgqJjvRGBdet31udt5vC5rpBsH_8BoCLWYQAvD_BwE"
                    target="_blank" class="hero-button">Book a Table</a
        >
      </div>
    </div>
  </div>
</div>
<hr />

<div>
  <div class="restaurant-info">
    <h2 class="restaurant-name">Ristorante Il Gambero Rosso</h2>
    <div class="restaurant-details">
      <div class="restaurant-description">
        <h2>What is waiting for you?</h2>
        <hr />
        <hr />
        <div>
          <ul>
            <li>Authentic Italian cuisine</li>
            <li>Exquisite flavors and fresh ingredients</li>
            <li>Warm and inviting atmosphere</li>
          </ul>
          <br />
          <p>Live the Italian authentic experience!!</p>
        </div>
      </div>
      <img src="../assets/rome.jpeg" alt="large-photo" class="large-photo" />
    </div>
  </div>
</div>

<div class="gray-rectangle">
  <h2 class="why-choose-us">Why Choose Us?</h2>
  <div class="choose-us-details">
    <ul>
      <li>Impeccable service and friendly staff</li>
      <li>Wide selection of traditional Italian dishes</li>
      <li>Cozy and charming ambiance</li>
    </ul>
  </div>
</div>

<div>
  <div class="speciality">
    <h2 class="speciality-text">Check Our Specialty</h2>
    <div class="speciality-details">
      <div class="speciality-description">
        <p>
          Indulge in our delectable prawn dishes, prepared with the freshest
          ingredients and authentic Italian flavors. Our expert chefs
          meticulously craft each prawn dish to perfection, ensuring a
          tantalizing culinary experience. From succulent grilled prawns to
          mouthwatering prawn pasta, our specialty dishes are bound to satisfy
          your cravings for exquisite seafood.
        </p>
      </div>
      <img src="../assets/prawn.jpeg" alt="small-photo" class="small-photo" />
    </div>
  </div>
</div>